<!DOCTYPE html>
<html>
  <head>
    <title>FMuser</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="../stylesheets/index.css" rel="stylesheet">
</head>
  <body>

    

  



  <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Welcome, <%=user_name %></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          
        </div>
      </div>
      <h2>Funding Product List</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>RemainQuantity</th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
            <% for ( var i = 0 ; i < data.length ; i++){ %>
            <tr>
              <td><%= data[i].symbol %></td>
              <td><%= data[i].name %></td>
              <td><%= data[i].quantity %></td>
              <td><button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#product_approve<%= data[i].symbol  %>">approve</button></td>
            </tr>
            <% } %>
          
            
          </tbody>
        </table>
      </div>


      <% for ( var i = 0 ; i < data.length ; i++){ %>
      <div id="product_approve<%= data[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              
            </div>
            
            
            
            <form class="form-signin" action="/BackendUserIndex/approve" method="POST" >
              <div class="col-sm-8 col-sm-offset-4">
                <br>
                <div class="mb-3"><h2>Product Symbol : <%= data[i].symbol  %></h2></div>
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Symbol</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputSymbol" value= <%= data[i].symbol  %>>
                </div>
      
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">RemainQuantity</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputRemainQuantity" value= <%= data[i].quantity  %>  >
                </div>
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputName" value= <%= data[i].name  %> >
                </div>
      
              </div>
              <div class="modal-footer" >
                <button class="btn" type="submit">Confirm</button>
              </div>
            </form>  
            
            
            
          </div>
        </div>
      </div>
      <% } %>
      




      
      
      <h2>Product Draft List</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>Detail</th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
            <% for ( var i = 0 ; i < draft_data.length ; i++){ %>
            <tr>
              <td><%= draft_data[i].symbol %></td>
              <td><%= draft_data[i].name %></td>
              <td><%= draft_data[i].intro %></td>
              <td><button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#draft_approve<%= draft_data[i].symbol  %>">approve</button></td>
            </tr>
            <% } %>
          
            
          </tbody>
        </table>
      </div>


      <% for ( var i = 0 ; i < draft_data.length ; i++){ %>
      <div id="draft_approve<%= draft_data[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              
            </div>
            
            
            
            <form class="form-signin" action="/BackendUserIndex/DraftApprove" method="POST" >
              <div class="col-sm-8 col-sm-offset-4">
                <br>
                <div class="mb-3"><h2>Draft Symbol : <%= draft_data[i].symbol  %></h2></div>
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Symbol</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputSymbol" value= <%= draft_data[i].symbol  %>>
                </div>
      
      
                
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputName" value= <%= draft_data[i].name  %> >
                </div>
      
              </div>
              <div class="modal-footer" >
                <button class="btn" type="submit">Confirm</button>
              </div>
            </form>  
            
            
            
          </div>
        </div>
      </div>
      <% } %>





      
      <h2>Mint Token Request List</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>Status</th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
            <% for ( var i = 0 ; i < Mintmore_data.length ; i++){ %>
            <tr>
              <td><%= Mintmore_data[i].mint_symbol %></td>
              <td><%= Mintmore_data[i].mint_name %></td>
              <td><%= Mintmore_data[i].mint_quantity %></td>
              <td><%= Mintmore_data[i].mint_status %></td>
              <td><button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#Mintmore_data<%= Mintmore_data[i].mint_symbol  %>">approve</button></td>
            </tr>
            <% } %>
          
            
          </tbody>
        </table>
      </div>


      <% for ( var i = 0 ; i < Mintmore_data.length ; i++){ %>
      <div id="Mintmore_data<%= Mintmore_data[i].mint_symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              
            </div>
            
            
            
            <form class="form-signin" action="/BackendUserIndex/MintMoreApprove" method="POST" >
              <div class="col-sm-8 col-sm-offset-4">
                <br>
                <div class="mb-3"><h2>Mint Request Approve. Symbol : <%= Mintmore_data[i].mint_symbol  %></h2></div>
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Symbol</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputSymbol" value= <%= Mintmore_data[i].mint_symbol  %>>
                </div>
      
      
                
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputName" value= <%= Mintmore_data[i].mint_name  %> >
                </div>




                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Quantity</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputQuantity" value= <%= Mintmore_data[i].mint_quantity  %> >
                </div>
      
              </div>
              <div class="modal-footer" >
                <button class="btn" type="submit">Confirm</button>
              </div>
            </form>  
            
            
            
          </div>
        </div>
      </div>
      <% } %>
    





      <h2>Burn Token Request List</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>Quantity</th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
            <% for ( var i = 0 ; i < Burn_data.length ; i++){ %>
            <tr>
              <td><%= Burn_data[i].burn_symbol %></td>
              <td><%= Burn_data[i].burn_name %></td>
              <td><%= Burn_data[i].burn_quantity %></td>
              <td><button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#burn<%= Burn_data[i].burn_symbol  %>">approve</button></td>
            </tr>
            <% } %>
          
            
          </tbody>
        </table>
      </div>


      <% for ( var i = 0 ; i < Burn_data.length ; i++){ %>
      <div id="burn<%= Burn_data[i].burn_symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              
            </div>
            
            
            
            <form class="form-signin" action="/BackendUserIndex/BurningApprove" method="POST" >
              <div class="col-sm-8 col-sm-offset-4">
                <br>
                <div class="mb-3"><h2>Burn Token Symbol : <%= Burn_data[i].burn_symbol  %></h2></div>
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Symbol</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputSymbol" value= <%= Burn_data[i].burn_symbol  %>>
                </div>
      
      
                
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputName" value= <%= Burn_data[i].burn_name  %> >
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Quantity</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputQuantity" value= <%= Burn_data[i].burn_quantity  %> >
                </div>
              </div>
              <div class="modal-footer" >
                <button class="btn" type="submit">Confirm</button>
              </div>
            </form>  
            
            
            
          </div>
        </div>
      </div>
      <% } %>







      <h2>Minter Setting Request List</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>EventId</th>
              <th>Symbol</th>
              <th>Target User</th>
              <th>content</th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
            <% for ( var i = 0 ; i < Minter_data.length ; i++){ %>
            <tr>
              <td><%= Minter_data[i].minter_event_id %></td>
              <td><%= Minter_data[i].minter_event_symbol %></td>
              <td><%= Minter_data[i].minter_event_username %></td>
              <td><%= Minter_data[i].minter_event_content %></td>
              <td><button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#minter<%= Minter_data[i].minter_event_symbol  %>">approve</button></td>
            </tr>
            <% } %>
          
            
          </tbody>
        </table>
      </div>


      <% for ( var i = 0 ; i < Minter_data.length ; i++){ %>
      <div id="minter<%= Minter_data[i].minter_event_symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              
            </div>
            
            
            
            <form class="form-signin" action="/BackendUserIndex/MinterApprove" method="POST" >
              <div class="col-sm-8 col-sm-offset-4">
                <br>
                <div class="mb-3"><h2>Minter Setting Request (Symbol : <%= Minter_data[i].minter_event_symbol  %>)</h2></div>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">EventId</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputId" value= <%= Minter_data[i].minter_event_id  %>>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Symbol</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputSymbol" value= <%= Minter_data[i].minter_event_symbol  %>>
                </div>
      
      
                
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">TargetUser</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputUsername" value= <%= Minter_data[i].minter_event_username  %> >
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Content</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputContent" value= <%= Minter_data[i].minter_event_content  %> >
                </div>
              </div>
              <div class="modal-footer" >
                <button class="btn" type="submit">Confirm</button>
              </div>
            </form>  
            
            
            
          </div>
        </div>
      </div>
      <% } %>








      <h2>Operating Product List</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>RemainQuantity</th>
              <th>ContractAddress</th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
            <% for ( var i = 0 ; i < Operating.length ; i++){ %>
            <tr>
              <td><%= Operating[i].symbol %></td>
              <td><%= Operating[i].name %></td>
              <td><%= Operating[i].quantity %></td>
              <td><%= Operating[i].eth_addr %></td>
              <td><button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#Address<%= Operating[i].symbol  %>">GetAddress</button></td>
            </tr>
            <% } %>
          
            
          </tbody>
        </table>
      </div>


      <% for ( var i = 0 ; i < Operating.length ; i++){ %>
      <div id="Address<%= Operating[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              
            </div>
            
            
            
            <form class="form-signin" action="/BackendUserIndex/GetContractAddress" method="POST" >
              <div class="col-sm-8 col-sm-offset-4">
                <br>
                <div class="mb-3"><h2>Product Symbol : <%= Operating[i].symbol  %></h2></div>
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Symbol</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputSymbol" value= <%= Operating[i].symbol  %>>
                </div>
      
      
                
      
              </div>
              <div class="modal-footer" >
                <button class="btn" type="submit">Confirm</button>
              </div>
            </form>  
            
            
            
          </div>
        </div>
      </div>
      <% } %>


      <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/login/logout">Logout</a>
      </li>
      </ul>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  </body>
</html>
