<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Main</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="stylesheets/index.css" rel="stylesheet">
</head>
<body>



<!--nav bar -->

  <ul class="nav justify-content-center">
    
    <li class="nav-item">
      <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/TokenInfo">FundingToken</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/SecondaryMarket">SecondaryMarket</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/MyAsset">MyAsset</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login/logout">Logout</a>
    </li>
    
  </ul>






  <main role="main">
  
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, <%= user_name %> !</h1>
        <p>This is the first asset tokenization platform in TW. Do you wanna join us?</p>
        <p><a class="btn btn-primary btn-lg" href="/TokenInfo" role="button">Go &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Funding Token</h2>
          <p>Buy first-published token here. </p>
          <p><a class="btn btn-secondary" href="/TokenInfo" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Secondary Market</h2>
          <p>Trading token here.</p>
          <p><a class="btn btn-secondary" href="/SecondaryMarket" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>My Asset</h2>
          <p>View your personal asset here.</p>
          <p><a class="btn btn-secondary" href="/users/MyAsset"  role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  
  <footer class="container">
    <p>&copy;2020</p>
  </footer>
  









  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>