<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Publish Page</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="../stylesheets/index.css" rel="stylesheet">
</head>
<body>



<!--nav bar -->

  <ul class="nav justify-content-center">
    
    <li class="nav-item">
      <a class="nav-link" href="/publisher"  tabindex="-1" aria-disabled="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/publisher/publish">Publish</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="/publisher/MyPublish">MyPublish</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login/logout">Logout</a>
      </li>
    
  </ul>







  <h2>Operating Publish List (For Publisher)</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Publisher</th>
              <th>Asset Symbol (Symbol)</th>
              <th>Name</th>
              <th>RemainQuantity</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for ( var i = 0 ; i < data.length ; i++){ %>
            <tr>
              <td><%= data[i].publisher %></td>
              <td><%= data[i].symbol %></td>
              <td><%= data[i].name %></td>
              <td><%= data[i].quantity %></td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#AddMinter<%= data[i].symbol  %>">AddMinter</button></td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#RemoveMinter<%= data[i].symbol  %>">RemoveMinter</button></td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#burnrequest<%= data[i].symbol  %>">BurnRequest</button></td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#burn<%= data[i].symbol  %>">Burn</button></td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#mintmore<%= data[i].symbol  %>">MintRequest</button></td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#mint<%= data[i].symbol  %>">Mint</button></td>
            </tr>
            <% } %>
            
          </tbody>
        </table>
      </div>



      <% for ( var i = 0 ; i < data.length ; i++){ %>

        <div id="mint<%= data[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
          <div class="modal-dialog modal-lg" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
                
              </div>
              
              
              
              <form class="form-signin" action="/publisher/Minting" method="POST" >
                <div class="col-sm-10 col-sm-offset-4">
                  <br>
                  <div class="mb-3"><h2>Mint  for the broken product : <%= data[i].symbol  %></h2></div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="symbol">Symbol</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].symbol  %>" name="inputSymbol">
                  </div>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="name">Name</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].name  %>" name="inputName">
                    </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="quantity">Quantity</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputQuantity">
                  </div>
                  
                  
                </div>
                <div class="modal-footer" >
                  <button class="btn">Confirm</button>
                </div>
              </form>  
              
              
              
            </div>
          </div>
        </div>
        
        <% } %>
  
    
  
  
    </div>

      <% for ( var i = 0 ; i < data.length ; i++){ %>

      <div id="mintmore<%= data[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              
            </div>
            
            
            
            <form class="form-signin" action="/publisher/MintDraft" method="POST" >
              <div class="col-sm-10 col-sm-offset-4">
                <br>
                <div class="mb-3"><h2>Mint more for the operating product : <%= data[i].symbol  %></h2></div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="symbol">Symbol</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].symbol  %>" name="inputSymbol">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="name">Name</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].name  %>" name="inputName">
                  </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="quantity">Quantity</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputQuantity">
                </div>
                
                
              </div>
              <div class="modal-footer" >
                <button class="btn">Confirm</button>
              </div>
            </form>  
            
            
            
          </div>
        </div>
      </div>
      
      <% } %>

  


  </div>
  


  <% for ( var i = 0 ; i < data.length ; i++){ %>

    <div id="burn<%= data[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
      <div class="modal-dialog modal-lg" >
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            
          </div>
          
          
          
          <form class="form-signin" action="/publisher/RightsBurn" method="POST" >
            <div class="col-sm-10 col-sm-offset-4">
              <br>
              <div class="mb-3"><h2>Burn for the operating product : <%= data[i].symbol  %></h2></div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="symbol">Symbol</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].symbol  %>" name="inputSymbol">
              </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="name">Name</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].name  %>" name="inputName">
                </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="quantity">Quantity</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputQuantity">
              </div>
              
              
            </div>
            <div class="modal-footer" >
              <button class="btn">Confirm</button>
            </div>
          </form>  
          
          
          
        </div>
      </div>
    </div>
    
    <% } %>


    <% for ( var i = 0 ; i < data.length ; i++){ %>

      <div id="burnrequest<%= data[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              
            </div>
            
            
            
            <form class="form-signin" action="/publisher/BurnRequest" method="POST" >
              <div class="col-sm-10 col-sm-offset-4">
                <br>
                <div class="mb-3"><h2>Burn Request for the operating product : <%= data[i].symbol  %></h2></div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="symbol">Symbol</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].symbol  %>" name="inputSymbol">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="name">Name</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].name  %>" name="inputName">
                  </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="quantity">Quantity</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputQuantity">
                </div>
                
                
              </div>
              <div class="modal-footer" >
                <button class="btn">Confirm</button>
              </div>
            </form>  
            
            
            
          </div>
        </div>
      </div>
      
      <% } %>







    <% for ( var i = 0 ; i < data.length ; i++){ %>

      <div id="AddMinter<%= data[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              
            </div>
            
            
            
            <form class="form-signin" action="/publisher/AddMinterRequest" method="POST" >
              <div class="col-sm-10 col-sm-offset-4">
                <br>
                <div class="mb-3"><h2>Apply for additional Minter (Product: <%= data[i].symbol  %>)</h2></div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="symbol">Symbol</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].symbol  %>" name="inputSymbol">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="name">Name</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].name  %>" name="inputName">
                  </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="quantity">MinterEmail</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputMinter">
                </div>
                
                
              </div>
              <div class="modal-footer" >
                <button class="btn">Confirm</button>
              </div>
            </form>  
            
            
            
          </div>
        </div>
      </div>
      
      <% } %>
  


      <% for ( var i = 0 ; i < data.length ; i++){ %>

        <div id="RemoveMinter<%= data[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
          <div class="modal-dialog modal-lg" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
                
              </div>
              
              
              
              <form class="form-signin" action="/publisher/RemoveMinterRequest" method="POST" >
                <div class="col-sm-10 col-sm-offset-4">
                  <br>
                  <div class="mb-3"><h2>Apply for Removing Minter (Product: <%= data[i].symbol  %>)</h2></div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="symbol">Symbol</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].symbol  %>" name="inputSymbol">
                  </div>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="name">Name</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].name  %>" name="inputName">
                    </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="quantity">MinterEmail</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputMinter">
                  </div>
                  
                  
                </div>
                <div class="modal-footer" >
                  <button class="btn">Confirm</button>
                </div>
              </form>  
              
              
              
            </div>
          </div>
        </div>
        
        <% } %>






  
  


      

  






      <h2>Operating Publish List (For Minter)</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Publisher</th>
              <th>Asset Symbol (Symbol)</th>
              <th>Name</th>
              <th>RemainQuantity</th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
            <% for ( var i = 0 ; i < Minter.length ; i++){ %>
            <tr>
              <td><%= Minter[i].publisher %></td>
              <td><%= Minter[i].symbol %></td>
              <td><%= Minter[i].name %></td>
              <td><%= Minter[i].quantity %></td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#ableMinting<%= Minter[i].symbol  %>">MintMore</button></td>
            </tr>
            <% } %>
            
          </tbody>
        </table>
      </div>
      

      
      <% for ( var i = 0 ; i < Minter.length ; i++){ %>

        <div id="ableMinting<%= Minter[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
          <div class="modal-dialog modal-lg" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
                
              </div>
              
              
              
              <form class="form-signin" action="/publisher/MintDraft" method="POST" >
                <div class="col-sm-10 col-sm-offset-4">
                  <br>
                  <div class="mb-3"><h2>Mint more for the operating product : <%= Minter[i].symbol  %></h2></div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="symbol">Symbol</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= Minter[i].symbol  %>" name="iunputSymbol">
                  </div>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="name">Name</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= Minter[i].name  %>" name="inputName">
                    </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="quantity">Quantity</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputQuantity">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price">Price</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name = "inputPrice">
                  </div>
                  
                </div>
                <div class="modal-footer" >
                  <button class="btn">Confirm</button>
                </div>
              </form>  
              
              
              
            </div>
          </div>
        </div>
        
        <% } %>








  </div>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>