<!DOCTYPE html>
<html>
  <head>
    <title>My Asset</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="../stylesheets/index.css" rel="stylesheet">
</head>
  <body>

    <!--nav bar -->

  <ul class="nav justify-content-center">
    
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/TokenInfo">FundingToken</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/SecondaryMarket">SecondaryMarket</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/users/MyAsset"  tabindex="-1" aria-disabled="true">MyAsset</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login/logout">Logout</a>
    </li>
    
  </ul>





  <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Welcome, <%=user_name %></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          
        </div>
      </div>


      <h2>Asset List</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Owner</th>
              <th>Asset Symbol (Symbol)</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>Rights</th>
              <th>Total Supply</th>
              <th></th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
            <% for ( var i = 0 ; i < data.length ; i++){ %>
            <tr>
              <td><%= data[i].user_id %></td>
              <td><%= data[i].asset_id %></td>
              <td><%= data[i].name %></td>
              <td><%= data[i].quantity %></td>
              <td><%= data[i].rights %></td>
              <td><%= data[i].total_supply %></td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#Cancelpage<%= data[i].asset_id  %>">Sell Order Cancel</button></td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#sellpage<%= data[i].asset_id  %>">Sell</button></td>
            </tr>
            <% } %>
            
          </tbody>
        </table>
      </div>


      <% for ( var i = 0 ; i < data.length ; i++){ %>

      <div id="sellpage<%= data[i].asset_id  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              
            </div>
            
            
            
            <form class="form-signin" action="/SecondaryMarket/publish" method="POST" >
              <div class="col-sm-10 col-sm-offset-4">
                <br>
                <div class="mb-3"><h2>Order(Sell) for the product Symbol : <%= data[i].asset_id  %></h2></div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="quantity">Symbol</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].asset_id  %>" name="inputSymbol">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="quantity">Quantity</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputQuantity">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="price">Price</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name = "inputPrice">
                </div>
                
              </div>
              <div class="modal-footer" >
                <button class="btn">Confirm</button>
              </div>
            </form>  
            
            
            
          </div>
        </div>
      </div>
      
      <% } %>





      <% for ( var i = 0 ; i < data.length ; i++){ %>

        <div id="Cancelpage<%= data[i].asset_id  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
          <div class="modal-dialog modal-lg" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
                
              </div>
              
              
              
              <form class="form-signin" action="/SecondaryMarket/cancel" method="POST" >
                <div class="col-sm-10 col-sm-offset-4">
                  <br>
                  <div class="mb-3"><h2>Cancel Secondary Order for the product Symbol : <%= data[i].asset_id  %></h2></div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="quantity">Symbol</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].asset_id  %>" name="inputSymbol">
                  </div>
                  
                  
                </div>
                <div class="modal-footer" >
                  <button class="btn">Confirm</button>
                </div>
              </form>  
              
              
              
            </div>
          </div>
        </div>
        
        <% } %>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  </body>
</html>
