<!DOCTYPE html>
<html>
  <head>
    <title>Publisher Register</title>
    <meta charset='utf-8'>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/registry.css' />
  </head>
  <body>
    
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/images/1200px-Ethereum-icon-purple.svg.png" alt="" width="72" height="72">
      <h2>Publisher Register Form</h2>
      <p class="lead">Please fill in your personal info down below.</p>
      
      <!-- input box is down below-->
      <div class="col-md-12 order-md-1">
        <form class="needs-validation" novalidate="">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="username">Trade Name</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" id="username" placeholder="Username" required="">
              <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
              </div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="email">Email </label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com">
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="id">Bussiness Registration Code</label>
            <input type="text" class="form-control" id="id" placeholder="29358920" required="">
            <div class="invalid-feedback">
              Please enter your personal id code.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="eth_address">Ethereum Account Address </label>
            <input type="text" class="form-control" id="eth_address" placeholder="">
          </div>
  
          
          <div class="mb-3">
            <label for="exampleFormControlFile1">Company Document</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
          
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </form>
        
      </div>


    </div>
  
  
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>




  </body>
</html>
