<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Publish Page</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="../stylesheets/index.css" rel="stylesheet">
</head>
<body>



<!--nav bar -->

  <ul class="nav justify-content-center">
    
    <li class="nav-item">
      <a class="nav-link" href="/publisher" tabindex="-1" aria-disabled="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/publisher/publish">Publish</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/publisher/MyPublish" >MyPublish</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login/logout">Logout</a>
    </li>
    
  </ul>







  </main>

  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/1200px-Ethereum-icon-purple.svg.png" alt="" width="72" height="72">
    <h2>Publishing Application Form </h2>
    <p class="lead">Please fill in token info down below.</p>
    
    <!-- input box is down below-->
    <div class="col-md-12 order-md-1">
      <form class="needs-validation" novalidate="" action="/publisher/publish" method="POST">
        
          <div class="mb-3">
            <label for="name">Token name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid token name is required.
            </div>
          </div>
        

        
        <div class="mb-3">
          <label for="quantity">supply quantity </label>
          <input type="number" class="form-control" id="quantity" name="quantity" placeholder="0">
          <div class="invalid-feedback">
            Please enter a valid number.
          </div>
        </div>


        <div class="mb-3">
          <label for="price">Price per token</label>
          <input type="number" class="form-control" id="price" name="price" placeholder="">
        </div>

        <div class="mb-3">
          <label for="Remarks">Remarks </label>
          <input type="text" class="form-control" id="Remarks" name="Remarks" placeholder="anything.....">
          <div class="invalid-feedback">
            invalid input detected.
          </div>
        </div>
        
        
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
      </form>
      
    </div>


  </div>
  









  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>