<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Main(Publisher)</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="stylesheets/index.css" rel="stylesheet">
</head>
<body>



<!--nav bar -->

  <ul class="nav justify-content-center">
    
    <li class="nav-item">
      <a class="nav-link disabled" href="/publisher" tabindex="-1" aria-disabled="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/publisher/publish">Publish</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/publisher/MyPublish">MyPublish</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login/logout">Logout</a>
    </li>
    
  </ul>






  <main role="main">
  
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, <%= user_name %> !</h1>
        <p>This is the first asset tokenization platform in TW. Let's publish your own Token.</p>
        <p><a class="btn btn-primary btn-lg" href="/publisher/publish" role="button">Go &raquo;</a></p>
      </div>
    </div>
  
    
  
  </main>
  
  <footer class="container">
    <p>&copy;2020</p>
  </footer>
  









  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>