<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Registry</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel='stylesheet' href="stylesheets/registry_decision.css">
</head>
<body class="text-center">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Member type</h1>
        <p class="lead">Ther are two types of member. User who can buy first-publish token and trade in secondary market. Publisher who can publish the token.</p>
      </div>

      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">General User</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Surf Tokenization Market</li>
                <li>Asset Management</li>
                <li>Can trade in Secondary market</li>
                <li>Safe</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary" onclick="location.href='/registry/user'">Get started</button>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Publisher</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Asset Token Publish</li>
                <li>Safe</li>
                <li>Email support</li>
                <li>Fast</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary" onclick="location.href='/registry/publisher'">Get started</button>
            </div>
          </div>
        </div>
      
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <img class="mb-2" src="/images/1200px-Ethereum-icon-purple.svg.png" alt="" width="24" height="24">
              <small class="d-block mb-3 text-muted">© 2020</small>
            </div>
            <div class="col-6 col-md">
              <h5>Fast Link</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/login">Login</a></li>
              </ul>
            </div>
            
          </div>
        </footer>
      </div>




      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>