<!DOCTYPE html>
<html>
  <head>
    <title>Secondary Market</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="stylesheets/index.css" rel="stylesheet">
  </head>
  <body>
    <!--nav bar -->

  <ul class="nav justify-content-center">
    
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/TokenInfo">FundingToken</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/SecondaryMarket"  tabindex="-1" aria-disabled="true">SecondaryMarket</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/MyAsset">MyAsset</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login/logout">Logout</a>
    </li>
    
  </ul>

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Secondary Market Token List</h1>
      <p class="lead text-muted">This is the Secondary Market token area.</p>
      <p>
    </div>
  </section>



  <div class="row">
    <% for ( var i = 0 ; i < data.length ; i++){ %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img alt="Card image cap" class="card-img-top embed-responsive-item" src="<%= data[i].img  %>" />
          <div class="card-body">
            <h1>商品代號: <%= data[i].symbol  %></h1>
            <p class="card-text"><%= data[i].intro  %></p>
            <div class="d-flex justify-content-between align-items-center">
              
              <small class="text-muted">價格:  <%= data[i].price  %> wei</small>
              <small class="text-muted">數量:  <%= data[i].quantity  %></small>
              <small class="text-muted">賣家:  <%= data[i].seller  %></small>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#purchasepage<%= data[i].symbol  %>">Buy</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--
  「data-backdrop="static"」 鎖定背景，點擊背景時不自動關閉視窗
  「fade」 淡入、淡出的轉場效果
  「modal-lg」視窗大小，如modal-lg、modal-md、modal-sm
  「data-dismiss="modal"」 關閉視窗
  「data-keyboard="true"」 是否用ESC鍵關閉，預設為true


        以下是二手交易（買）的按鍵視窗
  
-->

<div id="purchasepage<%= data[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        
      </div>
      
      
      
      <form class="form-signin" action="/SecondaryMarket/order" method="POST" >
        <div class="col-sm-10 col-sm-offset-4">
          <br>
          <div class="mb-3"><h2>Order(Purchase) for the product Symbol : <%= data[i].symbol  %></h2></div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="quantity">Symbol</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].symbol  %>" name="inputSymbol">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="quantity">Quantity</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputQuantity">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="price">Price</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].price  %>" name="inputPrice">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="price">Seller</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="<%= data[i].seller  %>" name="inputSeller">
          </div>
          
        </div>
        <div class="modal-footer" >
          <button class="btn">OK</button>
          <button class="btn">Cancel</button>
        </div>
      </form>  
      
      
     
    </div>
  </div>
</div>



 <!--
  「data-backdrop="static"」 鎖定背景，點擊背景時不自動關閉視窗
  「fade」 淡入、淡出的轉場效果
  「modal-lg」視窗大小，如modal-lg、modal-md、modal-sm
  「data-dismiss="modal"」 關閉視窗
  「data-keyboard="true"」 是否用ESC鍵關閉，預設為true


        以下是二手交易（賣）的按鍵視窗
  
-->










    <% } %>
  </div>





    



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  </body>
</html>
