<!DOCTYPE html>
<html>
  <head>
    <title>Funding Token</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="stylesheets/index.css" rel="stylesheet">

  </head>
  <body>




    <!--nav bar -->

  <ul class="nav justify-content-center">
    
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/TokenInfo" tabindex="-1" aria-disabled="true">FundingToken</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/SecondaryMarket">SecondaryMarket</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/MyAsset">MyAsset</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login/logout">Logout</a>
    </li>
    
  </ul>





  <section class="jumbotron text-center">
    <div class="container">
      <h1>Funding Token</h1>
      <p class="lead text-muted">This is the first publish token area.</p>
      <p>
    </div>
  </section>



  <div class="row">
    <% for ( var i = 0 ; i < data.length ; i++){ %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img alt="Card image cap" class="card-img-top embed-responsive-item" src="<%= data[i].img  %>" />
          <div class="card-body">
            <h1>商品代號: <%= data[i].symbol  %></h1>
            <p class="card-text"><%= data[i].intro  %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#purchasepage<%= data[i].symbol  %>">Buy</button>
              </div>
              <small class="text-muted">剩餘數量:  <%= data[i].quantity  %>   發售價錢:  <%= data[i].price  %>eth</small>
            </div>
          </div>
        </div>
      </div>

       <!--
  「data-backdrop="static"」 鎖定背景，點擊背景時不自動關閉視窗
  「fade」 淡入、淡出的轉場效果
  「modal-lg」視窗大小，如modal-lg、modal-md、modal-sm
  「data-dismiss="modal"」 關閉視窗
  「data-keyboard="true"」 是否用ESC鍵關閉，預設為true
-->

<div id="purchasepage<%= data[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        
      </div>
      
      
      
      <form class="form-signin" action="/TokenInfo/purchase" method="POST" >
        <div class="col-sm-8 col-sm-offset-4">
          <br>
          <div class="mb-3"><h2>Order for the product Symbol : <%= data[i].symbol  %></h2></div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Symbol</span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputSymbol" value= <%= data[i].symbol  %>>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputPrice" value= <%= data[i].price  %> >
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Quantity</span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputQuantity"  >
          </div>

          

        </div>
        <div class="modal-footer" >
          <button class="btn" type="submit">OK</button>
        </div>
      </form>  
      
      
      
    </div>
  </div>
</div>


    <% } %>
  </div>



 

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Mintmore Token</h1>
      <p class="lead text-muted">This is the extra publish token area.</p>
      <p>
    </div>
  </section>



  <div class="row">
    <% for ( var i = 0 ; i < mint_data.length ; i++){ %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img alt="Card image cap" class="card-img-top embed-responsive-item" src="<%= mint_data[i].img  %>" />
          <div class="card-body">
            <h1>商品名稱: <%= mint_data[i].name  %></h1>
            <p class="card-text"><%= mint_data[i].intro  %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#buymintmore<%= mint_data[i].symbol  %>">Buy</button>
              </div>
              <small class="text-muted">剩餘數量:  <%= mint_data[i].quantity  %>   發售價錢:  <%= mint_data[i].price  %>eth</small>
            </div>
          </div>
        </div>
      </div>

       <!--
  「data-backdrop="static"」 鎖定背景，點擊背景時不自動關閉視窗
  「fade」 淡入、淡出的轉場效果
  「modal-lg」視窗大小，如modal-lg、modal-md、modal-sm
  「data-dismiss="modal"」 關閉視窗
  「data-keyboard="true"」 是否用ESC鍵關閉，預設為true
-->

<div id="buymintmore<%= mint_data[i].symbol  %>" class="modal inmodal fade"  tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        
      </div>
      
      
      
      <form class="form-signin" action="/TokenInfo/purchase" method="POST" >
        <div class="col-sm-8 col-sm-offset-4">
          <br>
          <div class="mb-3"><h2>Order for the product Symbol : <%= mint_data[i].symbol  %></h2></div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Symbol</span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputSymbol" value= <%= mint_data[i].symbol  %>>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputPrice" value= <%= mint_data[i].price  %> >
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Quantity</span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="inputQuantity"  >
          </div>

          

        </div>
        <div class="modal-footer" >
          <button class="btn" type="submit">OK</button>
        </div>
      </form>  
      
      
      
    </div>
  </div>
</div>


    <% } %>
  </div>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  </body>
</html>
